Repository TomokiIshimine/fullstack-app-with-claude: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-isort, backend-black, backend-flake8

frontend-format:
  name: frontend prettier format
  entry: pnpm --dir frontend exec node scripts/format.mjs
  language: system
  pass_filenames: true

frontend-lint:
  name: frontend eslint
  entry: pnpm --dir frontend exec node scripts/run-eslint.mjs
  language: system
  pass_filenames: true

backend-isort:
  name: backend isort
  entry: python3 backend/scripts/run_poetry_tool.py isort
  language: system
  pass_filenames: true

backend-black:
  name: backend black
  entry: python3 backend/scripts/run_poetry_tool.py black
  language: system
  pass_filenames: true

backend-flake8:
  name: backend flake8
  entry: python3 backend/scripts/run_poetry_tool.py flake8
  language: system
  pass_filenames: true

docs: Update documentation for tag-based deployment and version display
  docs/00_development.md
  docs/03_feature-list.md
  docs/09_cicd-setup-guide.md
Due: none

refactor(backend): ユーザーサービスの責務を分離
  backend/app/routes/dependencies.py
  backend/app/routes/user_routes.py
  backend/app/services/user_service.py
  backend/tests/services/test_user_service.py
Due: backend-isort, backend-black, backend-flake8

refactor(frontend): 認証とユーザー管理の責務を分離
  frontend/src/components/admin/UserCreateForm.tsx
  frontend/src/components/admin/UserList.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useAuthService.ts
  frontend/src/hooks/useUserManagement.ts
  frontend/src/pages/admin/UserManagementPage.tsx
Due: frontend-format, frontend-lint

fix(backend): 依存性デコレータの例外処理を修正
  backend/app/routes/dependencies.py
Due: backend-isort, backend-black, backend-flake8

fix(frontend): ユーザー管理フォームのハンドリングを修正
  frontend/src/components/admin/UserCreateForm.tsx
  frontend/src/components/admin/UserList.tsx
  frontend/src/pages/admin/UserManagementPage.tsx
Due: frontend-format, frontend-lint

test(backend): ユーザーサービスフィクスチャのセッション管理を修正
  backend/app/routes/dependencies.py
  backend/app/routes/user_routes.py
  backend/app/services/user_service.py
  backend/tests/services/test_user_service.py
Due: backend-isort, backend-black, backend-flake8

chore(backend): 依存ヘルパーとテストの不要な変数を整理
  backend/app/routes/dependencies.py
  backend/tests/services/test_user_service.py
Due: backend-isort, backend-black, backend-flake8

test(frontend): UserCreateFormテストをonCreateに更新
  frontend/src/components/admin/UserCreateForm.test.tsx
Due: frontend-format, frontend-lint

fix(frontend): UserListの削除プロップにテストを整合
  frontend/src/components/admin/UserList.test.tsx
  frontend/src/components/admin/UserList.tsx
Due: frontend-format, frontend-lint

chore(frontend): Prettier でフォーマット
  frontend/src/components/admin/UserCreateForm.test.tsx
  frontend/src/hooks/useUserManagement.ts
  frontend/src/pages/admin/UserManagementPage.tsx
Due: frontend-format, frontend-lint

feat(frontend): integrate Tailwind CSS v4
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/postcss.config.js
  frontend/src/index.css
Due: frontend-format, frontend-lint

fix(frontend): change port from 5173 to 5174 to avoid macOS AirPlay conflict
  infra/docker-compose.yml
Due: none

fix(backend): add FRONTEND_URL environment variable to docker-compose
  infra/docker-compose.yml
Due: none

feat(frontend): 共有UIコンポーネントライブラリの追加とUX改善
  frontend/CLAUDE.md
  frontend/src/components/admin/UserCreateForm.tsx
  frontend/src/components/admin/UserList.tsx
  frontend/src/components/settings/PasswordChangeForm.tsx
  frontend/src/components/settings/ProfileUpdateForm.tsx
  frontend/src/components/ui/Alert.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Input.tsx
  frontend/src/components/ui/Modal.tsx
  frontend/src/components/ui/index.ts
  frontend/src/index.css
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/admin/UserManagementPage.tsx
Due: frontend-format, frontend-lint

docs(docs): UIコンポーネントライブラリに関するドキュメント更新
  README.md
  docs/01_system-architecture.md
  docs/03_feature-list.md
  docs/07_documentation-guide.md
Due: none

test(frontend): UIコンポーネントライブラリ対応のテスト修正
  frontend/src/components/admin/UserCreateForm.test.tsx
  frontend/src/components/admin/UserList.test.tsx
  frontend/src/components/ui/Alert.tsx
Due: frontend-format, frontend-lint

docs: fix 113 documentation inconsistencies across all docs
  AGENTS.md
  BACKEND_ANALYSIS_REPORT.md
  BACKEND_ISSUES_SUMMARY.md
  CLAUDE.md
  backend/CLAUDE.md
  docs/00_development.md
  docs/01_system-architecture.md
  docs/02_authentication-authorization.md
  docs/03_feature-list.md
  docs/04_database-design.md
  docs/05_api-design-guide.md
  docs/06_testing-strategy.md
  docs/07_documentation-guide.md
  docs/08_e2e-test-list.md
  docs/09_cicd-setup-guide.md
  frontend/CLAUDE.md
  specs/archive/ログイン機能の追加.md
Due: frontend-format

docs(claude): PR作成コマンドにghコマンドの実行手順を追加
  .claude/commands/create_pr.md
Due: none

feat(frontend): PageHeaderにハンバーガーメニューを実装
  frontend/src/components/PageHeader.test.tsx
  frontend/src/components/PageHeader.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/admin/UserManagementPage.tsx
  frontend/src/styles/page-header.css
Due: frontend-format, frontend-lint

chore(infra): disable Redis to reduce infrastructure costs
  infra/terraform/cloud-run.tf
  infra/terraform/outputs.tf
  infra/terraform/redis.tf
Due: none

chore(infra): disable Redis to reduce infrastructure costs (#92)
  infra/terraform/cloud-run.tf
  infra/terraform/outputs.tf
  infra/terraform/redis.tf
Due: none

Path conditions:
  frontend-format: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|md|html|ya?ml|cjs|mjs)$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-isort: any of: ^backend/.*\.py$
  backend-black: any of: ^backend/.*\.py$
  backend-flake8: any of: ^backend/.*\.py$
