Repository TomokiIshimine/fullstack-app-with-claude: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-format, frontend-lint, frontend-tests, backend-isort, backend-black, backend-flake8

.pre-commit-config.yaml:

# Stop running hooks after the first failure for faster feedback
fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-private-key
  - repo: local
    hooks:
      - id: frontend-format
        name: frontend prettier format
        entry: pnpm --dir frontend exec node scripts/format.mjs
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|md|html|ya?ml|cjs|mjs)$
        pass_filenames: true
      - id: frontend-lint
        name: frontend eslint
        entry: pnpm --dir frontend exec node scripts/run-eslint.mjs
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
      - id: frontend-tests
        name: frontend vitest related
        entry: pnpm --dir frontend exec node scripts/run-vitest-related.mjs
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
      - id: backend-isort
        name: backend isort
        entry: python backend/scripts/run_poetry_tool.py isort
        language: system
        files: ^backend/.*\.py$
        pass_filenames: true
      - id: backend-black
        name: backend black
        entry: python backend/scripts/run_poetry_tool.py black
        language: system
        files: ^backend/.*\.py$
        pass_filenames: true
      - id: backend-flake8
        name: backend flake8
        entry: python backend/scripts/run_poetry_tool.py flake8
        language: system
        files: ^backend/.*\.py$
        pass_filenames: true

refactor(frontend): create common PageHeader component to eliminate code duplication (#65)
  frontend/src/App.tsx
  frontend/src/components/PageHeader.test.tsx
  frontend/src/components/PageHeader.tsx
  frontend/src/lib/api/todos.ts
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/TodoListPage.tsx
  frontend/src/pages/admin/UserManagementPage.tsx
  frontend/src/styles/page-header.css
  frontend/src/styles/todo.css
Due: frontend-format, frontend-lint, frontend-tests

refactor(frontend): optimize TodoItem rendering with React.memo and useCallback
  frontend/src/components/TodoList.tsx
  frontend/src/pages/TodoListPage.tsx
Due: frontend-format, frontend-lint, frontend-tests

fix(frontend): remove custom comparator to prevent stale closure bug
  frontend/src/components/TodoList.tsx
Due: frontend-format, frontend-lint, frontend-tests

fix(frontend): remove custom comparator to prevent stale closure bug (#67)
  frontend/src/components/TodoList.tsx
Due: frontend-format, frontend-lint, frontend-tests

feat(frontend): improve accessibility with keyboard navigation and ARIA labels
  frontend/src/components/TodoForm.tsx
  frontend/src/components/TodoList.tsx
  frontend/src/components/settings/PasswordChangeForm.tsx
  frontend/src/pages/LoginPage.tsx
Due: frontend-format, frontend-lint, frontend-tests

fix(frontend): improve keyboard handling and fix accessibility regression
  frontend/src/components/TodoForm.tsx
  frontend/src/components/TodoList.test.tsx
  frontend/src/components/settings/PasswordChangeForm.test.tsx
Due: frontend-format, frontend-lint, frontend-tests

style(frontend): format code with prettier
  frontend/src/components/TodoForm.tsx
  frontend/src/components/TodoList.tsx
  frontend/src/components/settings/PasswordChangeForm.tsx
Due: frontend-format, frontend-lint, frontend-tests

feat(frontend): improve accessibility with keyboard navigation and ARIA labels (#68)
  frontend/src/components/TodoForm.tsx
  frontend/src/components/TodoList.test.tsx
  frontend/src/components/TodoList.tsx
  frontend/src/components/settings/PasswordChangeForm.test.tsx
  frontend/src/components/settings/PasswordChangeForm.tsx
  frontend/src/pages/LoginPage.tsx
Due: frontend-format, frontend-lint, frontend-tests

fix(frontend): change Vite base path to absolute for nested routes
  frontend/vite.config.ts
Due: frontend-format, frontend-lint, frontend-tests

fix(frontend): change Vite base path to absolute for nested routes (#69)
  frontend/vite.config.ts
Due: frontend-format, frontend-lint, frontend-tests

fix(frontend): correct TypeScript type cast in TodoForm handleKeyDown
  frontend/src/components/TodoForm.tsx
Due: frontend-format, frontend-lint, frontend-tests

fix(frontend): change Vite base path to absolute for nested routes (#70)
  frontend/src/components/TodoForm.tsx
Due: frontend-format, frontend-lint, frontend-tests

docs: add comprehensive CI/CD setup guide
  CLAUDE.md
  docs/07_documentation-guide.md
  docs/09_cicd-setup-guide.md
Due: none

docs: add comprehensive CI/CD setup guide (#71)
  CLAUDE.md
  docs/07_documentation-guide.md
  docs/09_cicd-setup-guide.md
Due: none

docs: CLAUDE.md にクリーンアーキテクチャ前提を追記
  AGENTS.md
  CLAUDE.md
Due: none

feat(backend): ロギングの構造化と秘匿処理を強化
  backend/app/logger.py
  backend/app/main.py
  backend/tests/test_logger.py
Due: backend-isort, backend-black, backend-flake8

fix(backend): 本番環境のログを標準出力に統一
  backend/app/logger.py
  backend/tests/test_logger.py
Due: backend-isort, backend-black, backend-flake8

fix(backend): 本番ログを標準出力に切り替え
  backend/app/logger.py
Due: backend-isort, backend-black, backend-flake8

chore(infra): update backend port to 5001
  infra/docker-compose.yml
Due: none

chore(frontend): Remove test output files
  frontend/test_output.txt
  frontend/test_output_2.txt
Due: none

refactor(commands): Rename backend review command file
  .claude/commands/review_backend_with_spec.md
Due: none

chore: Clean up Todo references after feature removal
  CLAUDE.md
  README.md
  backend/CLAUDE.md
  backend/tests/factories.py
  backend/tests/helpers.py
  backend/tests/security/test_authorization.py
  backend/tests/services/test_user_service.py
  backend/tests/test_health.py
  docs/01_system-architecture.md
  docs/03_feature-list.md
  docs/04_database-design.md
  docs/05_api-design-guide.md
  docs/06_testing-strategy.md
  frontend/CLAUDE.md
  infra/mysql/init/001_init.sql
  specs/archive/TODOリスト機能の作成.md
  specs/archive/adminアカウントの追加.md
  specs/archive/ログイン機能の追加.md
Due: frontend-format, backend-isort, backend-black, backend-flake8

test: Mock init_engine in migration integration tests
  backend/tests/scripts/test_apply_sql_migrations.py
Due: backend-isort, backend-black, backend-flake8

docs: Add Playwright MCP browser testing section to CLAUDE.md
  CLAUDE.md
Due: none

refactor(frontend): Update login redirect and consolidate common styles
  frontend/src/main.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/styles/common.css
Due: frontend-format, frontend-lint, frontend-tests

style: Fix linter and formatter issues for CI compliance
  .pre-commit-config.yaml
  backend/tests/security/test_authorization.py
  frontend/CLAUDE.md
  frontend/src/components/admin/UserCreateForm.tsx
  frontend/src/components/admin/UserList.test.tsx
  frontend/src/components/settings/PasswordChangeForm.tsx
  frontend/src/lib/api/auth.test.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/users.test.ts
  frontend/src/test/helpers/mockData.ts
Due: frontend-format, frontend-lint, frontend-tests, backend-isort, backend-black, backend-flake8

fix(frontend): Update settings back navigation from removed /todos to root
  frontend/src/pages/SettingsPage.tsx
Due: frontend-format, frontend-lint, frontend-tests

docs: Update documentation to remove TODO feature references
  docs/00_development.md
  docs/02_authentication-authorization.md
  docs/07_documentation-guide.md
  docs/08_e2e-test-list.md
  docs/09_cicd-setup-guide.md
  infra/mysql/migrations/002_drop_todos_table.sql
Due: none

refactor(frontend): Extract routing logic and remove redundant type guard
  frontend/src/components/RoleBasedRedirect.tsx
  frontend/src/lib/api/client.ts
  frontend/src/lib/utils/routing.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SettingsPage.tsx
Due: frontend-format, frontend-lint, frontend-tests

fix(frontend): ApiErrorのプロパティ初期化を修正
  frontend/src/lib/api/client.ts
Due: frontend-format, frontend-lint, frontend-tests

feat(settings): プロフィール編集と戻るボタン制御を追加
  backend/app/repositories/user_repository.py
  backend/app/routes/user_routes.py
  backend/app/schemas/user.py
  backend/app/services/user_service.py
  backend/tests/routes/test_user_routes.py
  frontend/src/components/settings/ProfileUpdateForm.test.tsx
  frontend/src/components/settings/ProfileUpdateForm.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/lib/api/profile.ts
  frontend/src/pages/SettingsPage.tsx
  frontend/src/styles/common.css
  frontend/src/types/user.ts
Due: frontend-format, frontend-lint, frontend-tests, backend-isort, backend-black, backend-flake8

chore(backend): grant_iam_permissionsスクリプトのlint対応
  backend/scripts/grant_iam_permissions.py
Due: backend-isort, backend-black, backend-flake8

feat(deploy): Add automatic GitHub Release creation with PR-based release notes
  .github/scripts/generate-release-notes.sh
  .github/workflows/deploy.yml
  specs/デプロイのトリガーをmainへのPushからタグ付け時にする.md
Due: none

chore: isortとprettierの調整
  backend/app/routes/user_routes.py
  frontend/src/components/settings/ProfileUpdateForm.test.tsx
  frontend/src/components/settings/ProfileUpdateForm.tsx
  frontend/src/styles/common.css
Due: frontend-format, frontend-lint, frontend-tests, backend-isort, backend-black, backend-flake8

feat(deploy): Change deploy trigger from main push to tag push and add version display
  .github/workflows/deploy.yml
  backend/app/routes/health.py
  backend/tests/test_health.py
  frontend/src/components/PageHeader.test.tsx
  frontend/src/components/PageHeader.tsx
  frontend/src/hooks/useVersion.test.ts
  frontend/src/hooks/useVersion.ts
  frontend/src/styles/page-header.css
Due: frontend-format, frontend-lint, frontend-tests, backend-isort, backend-black, backend-flake8

refactor(ci): Improve release notes generation and rename spec file
  .github/scripts/generate-release-notes.sh
  specs/tag-based-deployment.md
Due: none

chore(backend): user_routes の isort 再整形
  backend/app/routes/user_routes.py
Due: backend-isort, backend-black, backend-flake8

chore(backend): black の再適用でフォーマット修正
  backend/app/repositories/user_repository.py
  backend/app/routes/user_routes.py
Due: backend-isort, backend-black, backend-flake8
