Repository TomokiIshimine/fullstack-app-with-claude: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-format, frontend-lint, frontend-tests, backend-isort, backend-black, backend-flake8

frontend-format:
  name: frontend prettier format
  entry: pnpm --dir frontend exec node scripts/format.mjs
  language: system
  pass_filenames: true

frontend-lint:
  name: frontend eslint
  entry: pnpm --dir frontend exec node scripts/run-eslint.mjs
  language: system
  pass_filenames: true

frontend-tests:
  name: frontend vitest related
  entry: pnpm --dir frontend exec node scripts/run-vitest-related.mjs
  language: system
  pass_filenames: true

backend-isort:
  name: backend isort
  entry: python backend/scripts/run_poetry_tool.py isort
  language: system
  pass_filenames: true

backend-black:
  name: backend black
  entry: python backend/scripts/run_poetry_tool.py black
  language: system
  pass_filenames: true

backend-flake8:
  name: backend flake8
  entry: python backend/scripts/run_poetry_tool.py flake8
  language: system
  pass_filenames: true

feat(backend): Pydanticバリデーションを導入して型安全性を向上
  CLAUDE.md
  backend/app/routes/todo_routes.py
  backend/app/schemas/todo.py
  backend/app/services/todo_service.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/services/test_todo_service.py
Due: backend-isort, backend-black, backend-flake8

fix(build): Makefileのパス修正とパーミッション問題の解決
  .devcontainer/setup.sh
  Makefile
Due: none

feat(devcontainer): 開発環境の設定を強化
  .claude/settings.json
  .devcontainer/devcontainer.json
  .gitignore
  .mcp.json
Due: none

chore(pre-commit): フロントエンドテストを削除してコミット時間を短縮
  .pre-commit-config.yaml
  CLAUDE.md
Due: none

docs(CLAUDE.md): ドキュメントをbackendとfrontendに分割して整理
  CLAUDE.md
  backend/CLAUDE.md
  frontend/CLAUDE.md
Due: frontend-format

chore(settings): Claude Code権限設定を整理
  .claude/settings.json
Due: none

feat(backend): 構造化ロギングシステムを追加
  backend/.gitignore
  backend/CLAUDE.md
  backend/app/config.py
  backend/app/logger.py
  backend/app/main.py
  backend/app/services/todo_service.py
  backend/tests/conftest.py
Due: backend-isort, backend-black, backend-flake8

feat(backend): すべての層に包括的なログを追加
  backend/CLAUDE.md
  backend/app/database.py
  backend/app/main.py
  backend/app/repositories/todo_repository.py
  backend/app/routes/todo_routes.py
  backend/app/services/todo_service.py
  backend/backend/__init__.py
Due: backend-isort, backend-black, backend-flake8

refactor(logging): rootロガーを使用してログ設定を最適化
  backend/app/logger.py
Due: backend-isort, backend-black, backend-flake8

feat(logging): ログファイル名を日付ベース形式に変更
  backend/app/logger.py
Due: backend-isort, backend-black, backend-flake8

refactor(logging): werkzeugロガーを設定し、ログレベルを最適化
  backend/app/logger.py
  backend/app/repositories/todo_repository.py
Due: backend-isort, backend-black, backend-flake8

refactor(backend): 冗長なDEBUGログを削減し、ログ出力を最適化
  backend/app/repositories/todo_repository.py
  backend/app/services/todo_service.py
Due: backend-isort, backend-black, backend-flake8

feat(logging): リクエストトレーシング、機密情報マスキング、JSON構造化ログを追加
  backend/app/logger.py
  backend/app/main.py
Due: backend-isort, backend-black, backend-flake8

refactor(logging): 冗長なログを削減し、包括的なログポリシーを文書化
  backend/CLAUDE.md
  backend/app/database.py
  backend/app/main.py
Due: backend-isort, backend-black, backend-flake8

feat(frontend): フロントエンドに包括的なログシステムを実装
  frontend/.env.example
  frontend/CLAUDE.md
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/lib/api/todos.ts
  frontend/src/lib/logger.ts
  frontend/src/main.tsx
Due: frontend-format, frontend-lint, frontend-tests

fix(frontend): logger.tsのTypeScriptコンパイルエラーを修正
  frontend/src/lib/logger.ts
Due: frontend-format, frontend-lint, frontend-tests

feat(claude): 仕様書を指定して要件定義を開始するコマンドを追加
  .claude/commands/define_spec.md
Due: none

refactor(specs): 要件セクションのタイトルを整理
  specs/base.md
Due: none

feat(backend): httpOnly Cookie-based JWT認証機能を実装
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/refresh_token.py
  backend/app/models/user.py
  backend/app/repositories/refresh_token_repository.py
  backend/app/repositories/todo_repository.py
  backend/app/repositories/user_repository.py
  backend/app/routes/__init__.py
  backend/app/routes/auth_routes.py
  backend/app/routes/todo_routes.py
  backend/app/schemas/auth.py
  backend/app/services/auth_service.py
  backend/app/services/todo_service.py
  backend/app/utils/auth_decorator.py
  backend/app/utils/password.py
  backend/create_tables.py
  backend/poetry.lock
  backend/pyproject.toml
  specs/ログイン機能の追加.md
Due: backend-isort, backend-black, backend-flake8

feat(frontend): httpOnly Cookie-based JWT認証のフロントエンド実装
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/lib/api/auth.ts
  frontend/src/lib/api/todos.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/TodoListPage.tsx
  frontend/src/styles/todo.css
  frontend/src/types/auth.ts
Due: frontend-format, frontend-lint, frontend-tests

fix(auth): リロード時のセッション維持のためrefreshエンドポイントでユーザー情報を返すように修正
  backend/app/routes/auth_routes.py
  backend/app/schemas/auth.py
  backend/app/services/auth_service.py
  backend/create_user.py
  frontend/src/contexts/AuthContext.tsx
  frontend/src/lib/api/auth.ts
Due: frontend-format, frontend-lint, frontend-tests, backend-isort, backend-black, backend-flake8

refactor(infra): DB管理スクリプトをscripts/ディレクトリに統一し、スキーマとドキュメントを更新
  CLAUDE.md
  Makefile
  backend/CLAUDE.md
  backend/scripts/__init__.py
  backend/scripts/create_tables.py
  backend/scripts/create_user.py
  infra/mysql/init/001_init.sql
Due: backend-isort, backend-black, backend-flake8

docs: 設計ドキュメントを作成し、認証・認可設計書を分離
  docs/authentication-authorization.md
  docs/database-design.md
  docs/feature-list.md
  docs/system-architecture.md
Due: none

docs: development.mdを最新状態に更新し、設計ドキュメントへの参照と詳細セクションを追加
  docs/development.md
Due: none

docs: ドキュメント構成をMECE化し、API設計ガイドとテスト戦略書を追加
  docs/api-design-guide.md
  docs/authentication-authorization.md
  docs/documentation-guide.md
  docs/feature-list.md
  docs/system-architecture.md
  docs/testing-strategy.md
Due: none

feat(claude): ドキュメント整合性チェックエージェントを追加
  .claude/agents/doc-consistency-checker.md
Due: none

docs: ドキュメントの実装状況に合わせて記述を更新
  docs/api-design-guide.md
  docs/authentication-authorization.md
  docs/database-design.md
  docs/feature-list.md
  docs/system-architecture.md
  docs/testing-strategy.md
Due: none

test(backend): 認証機能に対応したテストフィクスチャを追加
  backend/tests/conftest.py
  backend/tests/routes/test_todo_routes.py
  backend/tests/services/test_todo_service.py
  backend/tests/test_health.py
Due: backend-isort, backend-black, backend-flake8

test(frontend): テスト設定の改善とAPIテストの修正
  frontend/src/lib/api/todos.test.ts
  frontend/vitest.config.ts
Due: frontend-format, frontend-lint, frontend-tests

infra: バックエンドサービスにDB依存関係を追加
  infra/docker-compose.yml
Due: none

refactor(test): テストコードの保守性を向上
  backend/tests/routes/test_todo_routes.py
  backend/tests/services/test_todo_service.py
  frontend/src/lib/api/todos.test.ts
  frontend/src/lib/validation/todoValidation.test.ts
Due: frontend-format, frontend-lint, frontend-tests, backend-isort, backend-black, backend-flake8

test(backend): テストヘルパーとファクトリーを追加し、テストコードをリファクタリング
  backend/tests/factories.py
  backend/tests/helpers.py
  backend/tests/routes/test_auth_routes.py
  backend/tests/routes/test_todo_routes.py
  backend/tests/security/__init__.py
  backend/tests/security/test_authorization.py
  backend/tests/services/test_auth_service.py
Due: backend-isort, backend-black, backend-flake8

docs: MECE原則に基づきドキュメント重複を削除し保守性を向上
  docs/api-design-guide.md
  docs/authentication-authorization.md
  docs/development.md
  docs/system-architecture.md
  docs/testing-strategy.md
Due: none

test(frontend): テストヘルパーとモックファクトリーを導入しテストコードをリファクタリング
  frontend/src/components/ErrorBoundary.test.tsx
  frontend/src/components/ProtectedRoute.test.tsx
  frontend/src/components/TodoFilterToggle.test.tsx
  frontend/src/components/TodoForm.test.tsx
  frontend/src/components/TodoList.test.tsx
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/hooks/useTodoForm.test.ts
  frontend/src/hooks/useTodos.test.ts
  frontend/src/lib/api/auth.test.ts
  frontend/src/lib/api/todos.test.ts
  frontend/src/lib/utils/todoFilters.test.ts
  frontend/src/test/helpers/mockApi.ts
  frontend/src/test/helpers/mockData.ts
  frontend/src/test/helpers/renderHelpers.tsx
  frontend/vitest.config.ts
Due: frontend-format, frontend-lint, frontend-tests

test(frontend): テストファイルを分割し統合テストを削減してテストコードを軽量化
  frontend/src/components/ErrorBoundary.test.tsx
  frontend/src/components/ProtectedRoute.test.tsx
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/hooks/useTodoForm.state.test.ts
  frontend/src/hooks/useTodoForm.submission.test.ts
  frontend/src/hooks/useTodoForm.test.ts
  frontend/src/hooks/useTodoForm.validation.test.ts
  frontend/src/test/helpers/renderHelpers.tsx
Due: frontend-format, frontend-lint, frontend-tests

chore: フロントエンドとバックエンドのテストを個別実行可能に
  Makefile
Due: none

test(frontend): テストセットアップを改善しすべてのテストを修正
  frontend/src/components/ErrorBoundary.test.tsx
  frontend/src/components/ProtectedRoute.test.tsx
  frontend/src/components/TodoForm.test.tsx
  frontend/src/components/TodoList.test.tsx
  frontend/src/hooks/useTodoForm.submission.test.ts
  frontend/src/hooks/useTodos.test.ts
  frontend/src/lib/api/auth.test.ts
  frontend/src/test/setup.ts
Due: frontend-format, frontend-lint, frontend-tests

docs: CLAUDE.mdの構造を改善しドキュメントナビゲーションを強化
  CLAUDE.md
Due: none

fix(infra): Dockerバックエンドコンテナを非rootユーザーで実行
  infra/docker-compose.yml
Due: none

chore(infra): GitHub CLIをDevContainerに追加
  .devcontainer/devcontainer.json
Due: none

Path conditions:
  frontend-format: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|md|html|ya?ml|cjs|mjs)$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-tests: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-isort: any of: ^backend/.*\.py$
  backend-black: any of: ^backend/.*\.py$
  backend-flake8: any of: ^backend/.*\.py$
