Repository TomokiIshimine/fullstack-app-with-claude: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-format, frontend-lint, frontend-tests, backend-isort, backend-black, backend-flake8

frontend-format:
  name: frontend prettier format
  entry: pnpm --dir frontend exec node scripts/format.mjs
  language: system
  pass_filenames: true

frontend-lint:
  name: frontend eslint
  entry: pnpm --dir frontend exec node scripts/run-eslint.mjs
  language: system
  pass_filenames: true

frontend-tests:
  name: frontend vitest related
  entry: pnpm --dir frontend exec node scripts/run-vitest-related.mjs
  language: system
  pass_filenames: true

backend-isort:
  name: backend isort
  entry: python backend/scripts/run_poetry_tool.py isort
  language: system
  pass_filenames: true

backend-black:
  name: backend black
  entry: python backend/scripts/run_poetry_tool.py black
  language: system
  pass_filenames: true

backend-flake8:
  name: backend flake8
  entry: python backend/scripts/run_poetry_tool.py flake8
  language: system
  pass_filenames: true

fix(terraform): fix cloud-run.tf corruption and make deletion_protection configurable
  infra/terraform/cloud-run.tf
  infra/terraform/cloud-sql.tf
  infra/terraform/variables.tf
Due: none

feat(terraform): implement environment-based deletion protection for Cloud SQL
  .github/workflows/terraform.yml
  infra/terraform/cloud-sql.tf
  infra/terraform/variables.tf
Due: none

feat(terraform): implement Secret Manager for secure credential storage
  infra/terraform/cloud-run.tf
  infra/terraform/cloud-sql.tf
  infra/terraform/outputs.tf
  infra/terraform/secret-manager.tf
Due: none

fix(terraform): add explicit dependency on secret versions for Cloud Run
  infra/terraform/cloud-run.tf
Due: none

fix(terraform): add missing IAM permissions for GitHub Actions and fix SSL deprecation
  infra/terraform/cloud-sql.tf
  infra/terraform/iam.tf
Due: none

feat(terraform): upgrade Google provider to version 6.x for ssl_mode support
  infra/terraform/provider.tf
Due: none

fix(ci): add -upgrade flag to terraform init for provider version update
  .github/workflows/terraform.yml
Due: none

fix(ci): fix deploy workflow terraform init with provider v6.x
  .github/workflows/deploy.yml
  infra/terraform/.terraform.lock.hcl
Due: none

fix(ci): remove -upgrade flag from deploy workflow terraform init
  .github/workflows/deploy.yml
Due: none

security(iam): minimize GitHub Actions service account permissions
  infra/terraform/iam.tf
Due: none

feat(security): add rate limiting with Flask-Limiter and Redis
  backend/.env.production.example
  backend/app/limiter.py
  backend/app/main.py
  backend/app/routes/auth_routes.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/routes/test_rate_limiting.py
  infra/terraform/cloud-run.tf
  infra/terraform/outputs.tf
  infra/terraform/redis.tf
Due: backend-isort, backend-black, backend-flake8

fix(security): correctly initialize Flask-Limiter storage backend
  backend/app/limiter.py
Due: backend-isort, backend-black, backend-flake8

feat(infra): add Redis service to docker-compose for local development
  infra/.env.example
  infra/docker-compose.yml
Due: none

fix(backend): fix mypy type errors in rate limiter
  backend/app/limiter.py
Due: backend-isort, backend-black, backend-flake8

fix(terraform): remove storage.legacyBucketWriter role (project-level not supported)
  infra/terraform/iam.tf
Due: none

fix(ci): remove frontend_bucket_name output reference from terraform workflow
  .github/workflows/terraform.yml
Due: none

feat(ci): add terraform force-unlock workflow for state lock recovery
  .github/workflows/terraform-unlock.yml
Due: none

feat(ci): add reusable composite actions for CI/CD workflows (Phase 1)
  .github/actions/setup-backend/action.yml
  .github/actions/setup-frontend/action.yml
  .github/actions/setup-gcp/action.yml
  specs/cicd-refactoring.md
Due: none

feat(ci): add reusable composite actions for CI/CD workflows (Phase 1) (#45)
  .github/actions/setup-backend/action.yml
  .github/actions/setup-frontend/action.yml
  .github/actions/setup-gcp/action.yml
  specs/cicd-refactoring.md
Due: none

feat(ci): optimize CI workflow with parallel execution (Phase 2)
  .github/workflows/ci.yml
Due: none

feat(ci): add path filtering to deploy workflow (Phase 3)
  .github/workflows/deploy.yml
Due: none

feat(ci): add path filtering to deploy workflow (Phase 3) (#47)
  .github/workflows/deploy.yml
Due: none

feat(ci): improve cache strategy and finalize CI/CD optimization (Phase 4)
  .github/actions/setup-backend/action.yml
  .github/actions/setup-terraform/action.yml
  .github/workflows/deploy.yml
  .github/workflows/terraform-unlock.yml
  .github/workflows/terraform.yml
  docs/00_development.md
Due: none

docs: add documentation consistency fixes specification
  specs/documentation-consistency-fixes.md
Due: none

docs: fix critical documentation inconsistencies (Phase 1)
  CLAUDE.md
  README.md
  docs/00_development.md
  docs/01_system-architecture.md
Due: none

docs: fix major documentation inconsistencies (Phase 2)
  docs/01_system-architecture.md
  docs/02_authentication-authorization.md
  docs/03_feature-list.md
  docs/05_api-design-guide.md
  docs/06_testing-strategy.md
Due: none

docs: fix minor documentation inconsistencies (Phase 3)
  backend/CLAUDE.md
  docs/00_development.md
  docs/04_database-design.md
  docs/05_api-design-guide.md
  docs/06_testing-strategy.md
  docs/07_documentation-guide.md
Due: none

docs: remove line number references from documentation
  docs/02_authentication-authorization.md
  docs/03_feature-list.md
  docs/05_api-design-guide.md
Due: none

style: fix code formatting in limiter.py
  backend/app/limiter.py
Due: backend-isort, backend-black, backend-flake8

docs: ドキュメントの一貫性を包括的に改善 (#50)
  CLAUDE.md
  README.md
  backend/CLAUDE.md
  backend/app/limiter.py
  docs/00_development.md
  docs/01_system-architecture.md
  docs/02_authentication-authorization.md
  docs/03_feature-list.md
  docs/04_database-design.md
  docs/05_api-design-guide.md
  docs/06_testing-strategy.md
  docs/07_documentation-guide.md
  specs/documentation-consistency-fixes.md
Due: backend-isort, backend-black, backend-flake8

docs(specs): add admin user management specification
  .devcontainer/devcontainer.json
  specs/adminアカウントの追加.md
Due: none

docs(specs): update admin spec to use hashed password
  specs/adminアカウントの追加.md
Due: none

feat(backend): 管理者ユーザー機能の実装（フェーズ1）
  backend/.env.example
  backend/app/main.py
  backend/app/models/user.py
  backend/app/schemas/auth.py
  backend/app/services/auth_service.py
  backend/app/utils/auth_decorator.py
  backend/app/utils/password_generator.py
  backend/app/utils/password_hash_validator.py
  backend/scripts/create_admin.py
  backend/scripts/create_user.py
  backend/scripts/generate_admin_hash.py
  backend/tests/conftest.py
  backend/tests/factories.py
  backend/tests/helpers.py
  backend/tests/services/test_auth_service.py
  infra/mysql/init/001_init.sql
Due: backend-isort, backend-black, backend-flake8

fix(tests): conftest.pyのlintエラーを修正
  backend/app/limiter.py
  backend/tests/conftest.py
Due: backend-isort, backend-black, backend-flake8

feat(backend): フェーズ2 - ユーザー管理機能とパスワード変更機能の実装
  backend/app/repositories/user_repository.py
  backend/app/routes/__init__.py
  backend/app/routes/password_routes.py
  backend/app/routes/user_routes.py
  backend/app/schemas/password.py
  backend/app/schemas/user.py
  backend/app/services/password_service.py
  backend/app/services/user_service.py
Due: backend-isort, backend-black, backend-flake8

test(backend): ユーザー管理とパスワード変更機能のテスト追加とバリデーションエラー改善
  backend/app/routes/password_routes.py
  backend/app/routes/user_routes.py
  backend/tests/routes/test_password_routes.py
  backend/tests/routes/test_user_routes.py
  backend/tests/services/test_password_service.py
  backend/tests/services/test_user_service.py
Due: backend-isort, backend-black, backend-flake8

feat(frontend): フェーズ3 - ユーザー管理とパスワード変更のフロントエンド実装
  frontend/src/App.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/components/RoleBasedRedirect.tsx
  frontend/src/components/admin/InitialPasswordModal.tsx
  frontend/src/components/admin/UserCreateForm.tsx
  frontend/src/components/admin/UserList.tsx
  frontend/src/components/settings/PasswordChangeForm.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/lib/api/password.ts
  frontend/src/lib/api/users.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/TodoListPage.tsx
  frontend/src/pages/admin/UserManagementPage.tsx
  frontend/src/styles/todo.css
  frontend/src/test/helpers/mockData.ts
  frontend/src/types/auth.ts
  frontend/src/types/password.ts
  frontend/src/types/user.ts
Due: frontend-format, frontend-lint, frontend-tests

test(phase4): フェーズ4 - テストとドキュメントの実装
  README.md
  backend/tests/routes/test_auth_routes.py
  backend/tests/services/test_auth_service.py
  frontend/src/lib/api/auth.test.ts
  frontend/src/lib/api/users.test.ts
Due: frontend-format, frontend-lint, frontend-tests, backend-isort, backend-black, backend-flake8

Path conditions:
  frontend-format: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|md|html|ya?ml|cjs|mjs)$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-tests: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-isort: any of: ^backend/.*\.py$
  backend-black: any of: ^backend/.*\.py$
  backend-flake8: any of: ^backend/.*\.py$
