Repository TomokiIshimine/fullstack-app-with-claude: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-format, frontend-lint, frontend-tests, backend-isort, backend-black, backend-flake8

frontend-format:
  name: frontend prettier format
  entry: pnpm --dir frontend exec node scripts/format.mjs
  language: system
  pass_filenames: true

frontend-lint:
  name: frontend eslint
  entry: pnpm --dir frontend exec node scripts/run-eslint.mjs
  language: system
  pass_filenames: true

frontend-tests:
  name: frontend vitest related
  entry: pnpm --dir frontend exec node scripts/run-vitest-related.mjs
  language: system
  pass_filenames: true

backend-isort:
  name: backend isort
  entry: python backend/scripts/run_poetry_tool.py isort
  language: system
  pass_filenames: true

backend-black:
  name: backend black
  entry: python backend/scripts/run_poetry_tool.py black
  language: system
  pass_filenames: true

backend-flake8:
  name: backend flake8
  entry: python backend/scripts/run_poetry_tool.py flake8
  language: system
  pass_filenames: true

feat(ci/cd): デプロイワークフローを追加
  .github/workflows/deploy.yml
Due: none

fix(test): ヘルスエンドポイントのテストパスを修正
  backend/tests/test_health.py
Due: backend-isort, backend-black, backend-flake8

feat(ci/cd): デプロイワークフローを追加 (#19)
  .github/workflows/deploy.yml
  backend/tests/test_health.py
Due: backend-isort, backend-black, backend-flake8

fix(infra): Artifact Registryリポジトリを追加してデプロイを修正
  .github/workflows/deploy.yml
  infra/terraform/.gitignore
  infra/terraform/artifact-registry.tf
  infra/terraform/outputs.tf
Due: none

fix(infra): Artifact Registryリポジトリを追加してデプロイを修正 (#20)
  .github/workflows/deploy.yml
  infra/terraform/.gitignore
  infra/terraform/artifact-registry.tf
  infra/terraform/outputs.tf
Due: none

fix(frontend): TypeScriptビルドエラーを修正
  frontend/src/components/ProtectedRoute.test.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useTodoForm.state.test.ts
  frontend/src/hooks/useTodoForm.ts
  frontend/src/lib/api/auth.test.ts
  frontend/src/lib/api/todos.test.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/test/helpers/renderHelpers.tsx
Due: frontend-format, frontend-lint, frontend-tests

fix(frontend): TypeScriptビルドエラーを修正 (#21)
  frontend/src/components/ProtectedRoute.test.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useTodoForm.state.test.ts
  frontend/src/hooks/useTodoForm.ts
  frontend/src/lib/api/auth.test.ts
  frontend/src/lib/api/todos.test.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/test/helpers/renderHelpers.tsx
Due: frontend-format, frontend-lint, frontend-tests

feat(ci/cd): CIワークフローをデプロイワークフローと統合 (#22)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

feat(ci/cd): CIワークフローをデプロイワークフローと統合 (#22) (#22)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

feat(infra): 本番環境変数テンプレートとCloud Run環境変数設定を追加 (#17, #18)
  .gitignore
  backend/.env.production.example
  frontend/.env.production.example
  infra/terraform/cloud-run.tf
Due: none

feat(infra): 本番環境変数テンプレートとCloud Run環境変数設定を追加 (#17, #18) (#23)
  .gitignore
  backend/.env.production.example
  frontend/.env.production.example
  infra/terraform/cloud-run.tf
Due: none

fix(frontend): Cloud Storage向けにルーティングとビルド設定を修正
  frontend/src/App.tsx
  frontend/vite.config.ts
Due: frontend-format, frontend-lint, frontend-tests

fix(frontend): Cloud Storage向けにルーティングとビルド設定を修正 (#24)
  frontend/src/App.tsx
  frontend/vite.config.ts
Due: frontend-format, frontend-lint, frontend-tests

feat(infra): Cloud SQLテーブル自動作成機能を追加
  infra/terraform/cloud-run-job.tf
  infra/terraform/outputs.tf
Due: none

feat(infra): Cloud SQLテーブル自動作成機能を追加 (#25)
  infra/terraform/cloud-run-job.tf
  infra/terraform/outputs.tf
Due: none

fix(ci/cd): Add missing workflow steps for database migration execution
  .github/workflows/deploy.yml
  backend/Dockerfile
  backend/scripts/create_tables.py
Due: backend-isort, backend-black, backend-flake8

feat(infra): Integrate frontend and backend in single Cloud Run container
  .github/workflows/deploy.yml
  backend/Dockerfile
  backend/entrypoint.sh
  backend/nginx.conf
  frontend/.env.production.example
  infra/terraform/cloud-storage.tf
  infra/terraform/outputs.tf
Due: none

fix(infra): Remove FRONTEND_URL reference to deleted Cloud Storage bucket
  infra/terraform/cloud-run.tf
Due: none

fix(ci/cd): Fix YAML syntax error in deploy workflow
  .github/workflows/deploy.yml
Due: none

fix(ci/cd): Add pnpm-lock.yaml for reproducible Docker builds
  .gitignore
  frontend/pnpm-lock.yaml
Due: frontend-format

fix(docker): Fix Nginx and Gunicorn startup issues in Cloud Run
  backend/Dockerfile
  backend/entrypoint.sh
Due: none

fix(ci/cd): Add retry logic to Cloud Run health check
  .github/workflows/deploy.yml
Due: none

feat(frontend): Remove hash (#) from URLs by switching to BrowserRouter
  frontend/src/App.tsx
Due: frontend-format, frontend-lint, frontend-tests

chore(ci): CI パイプラインのキャッシュと Terraform 手順を改善
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/terraform.yml
Due: none

fix(infra): Cloud SQL をプライベート接続のみに制限
  infra/terraform/cloud-sql.tf
Due: none

fix(infra): use vpc self link for cloud sql
  infra/terraform/cloud-sql.tf
Due: none

fix(infra): Cloud SQL の SSL 必須設定を解除
  infra/terraform/cloud-sql.tf
Due: none

fix(ci): separate Terraform management from application deployment
  .github/workflows/deploy.yml
Due: none

feat: add Cloud SQL Connector with SSL and IAM authentication support
  backend/app/database.py
  backend/poetry.lock
  backend/pyproject.toml
  infra/terraform/cloud-run-job.tf
  infra/terraform/cloud-run.tf
  infra/terraform/cloud-sql.tf
Due: backend-isort, backend-black, backend-flake8

fix(docker): simplify backend container configuration for local development
  infra/docker-compose.yml
Due: none

docs(cloudsql): add comprehensive documentation for Cloud SQL Connector feature
  README.md
  backend/CLAUDE.md
  backend/app/config.py
  backend/app/database.py
  backend/tests/test_database.py
  docs/00_development.md
  docs/01_system-architecture.md
  specs/cloudsql-connector-approachA-instructions-ja.md
Due: backend-isort, backend-black, backend-flake8

feat: Add Cloud SQL Connector with SSL and IAM authentication support (#35)
  README.md
  backend/CLAUDE.md
  backend/app/config.py
  backend/app/database.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/test_database.py
  docs/00_development.md
  docs/01_system-architecture.md
  infra/docker-compose.yml
  infra/terraform/cloud-run-job.tf
  infra/terraform/cloud-run.tf
  infra/terraform/cloud-sql.tf
  specs/cloudsql-connector-approachA-instructions-ja.md
Due: backend-isort, backend-black, backend-flake8

fix(cloudsql): configure Cloud SQL Connector to use PRIVATE IP address
  backend/CLAUDE.md
  backend/app/config.py
  backend/app/database.py
  backend/tests/test_database.py
  infra/terraform/cloud-run-job.tf
  infra/terraform/cloud-run.tf
Due: backend-isort, backend-black, backend-flake8

fix(cloudsql): fix IAM user permissions for database access
  backend/Dockerfile
  backend/scripts/grant_iam_permissions.py
  backend/scripts/run_migrations.sh
  infra/terraform/cloud-run-job.tf
Due: backend-isort, backend-black, backend-flake8

fix(cloudsql): convert ip_type string to IPTypes enum
  backend/app/database.py
  backend/tests/test_database.py
Due: backend-isort, backend-black, backend-flake8

refactor(docker): 開発環境のDocker構成を改善
  backend/Dockerfile.dev
  frontend/Dockerfile.dev
  infra/.env.example
  infra/docker-compose.yml
Due: none

Path conditions:
  frontend-format: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|md|html|ya?ml|cjs|mjs)$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-tests: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-isort: any of: ^backend/.*\.py$
  backend-black: any of: ^backend/.*\.py$
  backend-flake8: any of: ^backend/.*\.py$
