Repository TomokiIshimine/fullstack-app-with-claude: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-format, frontend-lint, frontend-tests, backend-isort, backend-black, backend-flake8

frontend-format:
  name: frontend prettier format
  entry: pnpm --dir frontend exec node scripts/format.mjs
  language: system
  pass_filenames: true

frontend-lint:
  name: frontend eslint
  entry: pnpm --dir frontend exec node scripts/run-eslint.mjs
  language: system
  pass_filenames: true

frontend-tests:
  name: frontend vitest related
  entry: pnpm --dir frontend exec node scripts/run-vitest-related.mjs
  language: system
  pass_filenames: true

backend-isort:
  name: backend isort
  entry: python backend/scripts/run_poetry_tool.py isort
  language: system
  pass_filenames: true

backend-black:
  name: backend black
  entry: python backend/scripts/run_poetry_tool.py black
  language: system
  pass_filenames: true

backend-flake8:
  name: backend flake8
  entry: python backend/scripts/run_poetry_tool.py flake8
  language: system
  pass_filenames: true

refactor(frontend): extract shared API client and add component tests
  frontend/src/components/RoleBasedRedirect.test.tsx
  frontend/src/components/admin/InitialPasswordModal.test.tsx
  frontend/src/components/admin/UserCreateForm.test.tsx
  frontend/src/components/admin/UserList.test.tsx
  frontend/src/components/settings/PasswordChangeForm.test.tsx
  frontend/src/lib/api/auth.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/password.ts
  frontend/src/lib/api/todos.ts
  frontend/src/lib/api/users.ts
Due: frontend-format, frontend-lint, frontend-tests

refactor(backend): improve architecture by moving transaction control to service layer
  backend/app/repositories/user_repository.py
  backend/app/routes/password_routes.py
  backend/app/routes/user_routes.py
Due: backend-isort, backend-black, backend-flake8

chore: add review_results directory to .gitignore
  .gitignore
Due: none

refactor: improve database migrations and type safety
  backend/app/models/user.py
  backend/app/schemas/auth.py
  backend/app/utils/auth_decorator.py
  backend/tests/routes/test_password_routes.py
  backend/tests/routes/test_user_routes.py
  backend/tests/services/test_user_service.py
  frontend/src/lib/api/password.ts
  infra/mysql/init/001_init.sql
  infra/mysql/migrations/001_add_role_and_name_to_users.sql
  infra/mysql/migrations/README.md
Due: frontend-format, frontend-lint, frontend-tests, backend-isort, backend-black, backend-flake8

feat(db): SQLマイグレーションシステムの実装と自動追跡機能の追加
  .claude/commands/review_frontend_with_backend.md
  .claude/commands/review_frontend_with_spec.md
  backend/CLAUDE.md
  backend/app/models/__init__.py
  backend/app/models/schema_migration.py
  backend/scripts/apply_sql_migrations.py
  backend/scripts/run_migrations.sh
  docs/00_development.md
  docs/01_system-architecture.md
  docs/04_database-design.md
  infra/mysql/migrations/README.md
Due: backend-isort, backend-black, backend-flake8

test(db): SQLマイグレーションシステムの包括的なテストを追加
  backend/tests/models/__init__.py
  backend/tests/models/test_schema_migration.py
  backend/tests/scripts/__init__.py
  backend/tests/scripts/test_apply_sql_migrations.py
Due: backend-isort, backend-black, backend-flake8

docs: マイグレーションテストのドキュメントを追加
  backend/CLAUDE.md
  docs/06_testing-strategy.md
Due: none

feat(deploy): GitHub Secretsから管理者情報を取得してデプロイ
  .github/workflows/deploy.yml
  README.md
  backend/.env.example
  backend/scripts/create_admin.py
Due: backend-isort, backend-black, backend-flake8

fix(test): remove unused imports and variables to fix linting errors
  backend/tests/scripts/test_apply_sql_migrations.py
  frontend/src/components/RoleBasedRedirect.test.tsx
Due: frontend-format, frontend-lint, frontend-tests, backend-isort, backend-black, backend-flake8

fix(api): add created_at field to UserResponse schema
  backend/app/schemas/auth.py
  backend/app/services/auth_service.py
  backend/app/services/user_service.py
Due: backend-isort, backend-black, backend-flake8

fix(build): exclude test files from TypeScript build
  frontend/tsconfig.app.json
Due: frontend-format

fix(build): exclude test files from TypeScript build (#52)
  frontend/tsconfig.app.json
Due: frontend-format

fix(deploy): set COOKIE_SECURE=true for production login
  .github/workflows/deploy.yml
Due: none

fix(deploy): increase healthcheck timeout for server startup
  .github/workflows/deploy.yml
Due: none

fix(deploy): handle curl timeout in health check
  .github/workflows/deploy.yml
Due: none

fix(deploy): include migration files in Docker image
  backend/Dockerfile
  infra/mysql/migrations/001_add_role_and_name_to_users.sql
Due: none

fix(deploy): use ADMIN_PASSWORD_HASH instead of ADMIN_PASSWORD
  .github/workflows/deploy.yml
Due: none

docs: update documentation to use ADMIN_PASSWORD_HASH
  README.md
  backend/.env.example
Due: none

fix(deploy): use ADMIN_PASSWORD_HASH with proper shell quoting
  .github/workflows/deploy.yml
  README.md
  backend/.env.example
Due: none

fix(deploy): improve admin account creation with diagnostics and safer env var handling
  .github/workflows/deploy.yml
  backend/scripts/create_admin.py
Due: backend-isort, backend-black, backend-flake8

fix(admin): add comprehensive error detection and verification
  backend/scripts/create_admin.py
Due: backend-isort, backend-black, backend-flake8

fix(lint): resolve flake8 and mypy errors in create_admin.py
  backend/scripts/create_admin.py
Due: backend-isort, backend-black, backend-flake8

fix(admin): improve admin account creation with diagnostics and error detection (#59)
  .github/workflows/deploy.yml
  backend/scripts/create_admin.py
Due: backend-isort, backend-black, backend-flake8

refactor(frontend): extract logout handling into useLogout hook
  frontend/src/hooks/useLogout.ts
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/TodoListPage.tsx
  frontend/src/pages/admin/UserManagementPage.tsx
Due: frontend-format, frontend-lint, frontend-tests

fix(frontend): remove unused useAuth import in UserManagementPage
  frontend/src/pages/admin/UserManagementPage.tsx
Due: frontend-format, frontend-lint, frontend-tests

refactor(frontend): extract logout handling into useLogout hook (#60)
  frontend/src/hooks/useLogout.ts
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/TodoListPage.tsx
  frontend/src/pages/admin/UserManagementPage.tsx
Due: frontend-format, frontend-lint, frontend-tests

ci: improve CI/CD with better linting, formatting, and testing
  .github/workflows/ci.yml
  CLAUDE.md
  Makefile
  backend/tests/scripts/test_apply_sql_migrations.py
  frontend/src/components/RoleBasedRedirect.test.tsx
  frontend/src/components/admin/UserCreateForm.test.tsx
  frontend/src/components/settings/PasswordChangeForm.test.tsx
Due: frontend-format, frontend-lint, frontend-tests, backend-isort, backend-black, backend-flake8

docs(backend): add comprehensive refactoring specifications
  specs/001_transaction_management_refactor.md
  specs/002_sqlalchemy_api_migration.md
  specs/003_password_security_fix.md
  specs/004_error_response_standardization.md
  specs/005_config_centralization.md
  specs/006_validation_exception_unification.md
  specs/007_todo_update_simplification.md
  specs/008_cors_multi_domain.md
  specs/009_logging_standardization.md
  specs/010_pydantic_orm_mode_consistency.md
  specs/README.md
Due: none

docs(backend): add detailed analysis reports
  BACKEND_ANALYSIS_REPORT.md
  BACKEND_ISSUES_SUMMARY.md
Due: none

fix(specs): remove spec 003 and correct file paths
  specs/001_transaction_management_refactor.md
  specs/002_sqlalchemy_api_migration.md
  specs/003_password_security_fix.md
  specs/004_error_response_standardization.md
  specs/005_config_centralization.md
  specs/006_validation_exception_unification.md
  specs/007_todo_update_simplification.md
  specs/008_cors_multi_domain.md
  specs/009_logging_standardization.md
  specs/010_pydantic_orm_mode_consistency.md
  specs/README.md
Due: none

refactor(frontend): unify error handling with ErrorMessage component
  frontend/src/components/ErrorMessage.tsx
  frontend/src/hooks/useErrorHandler.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/TodoListPage.tsx
  frontend/src/pages/admin/UserManagementPage.tsx
  frontend/src/styles/todo.css
  specs/frontend-refactoring.md
Due: frontend-format, frontend-lint, frontend-tests

style(frontend): format ErrorMessage component with Prettier
  frontend/src/components/ErrorMessage.tsx
Due: frontend-format, frontend-lint, frontend-tests

refactor(frontend): unify error handling with ErrorMessage component (#63)
  frontend/src/components/ErrorMessage.tsx
  frontend/src/hooks/useErrorHandler.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/TodoListPage.tsx
  frontend/src/pages/admin/UserManagementPage.tsx
  frontend/src/styles/todo.css
  specs/frontend-refactoring.md
Due: frontend-format, frontend-lint, frontend-tests

refactor(frontend): split useTodos hook into smaller, focused hooks
  frontend/src/hooks/useTodoData.ts
  frontend/src/hooks/useTodoEditor.ts
  frontend/src/hooks/useTodoFilters.ts
  frontend/src/hooks/useTodoMutations.ts
  frontend/src/hooks/useTodos.ts
Due: frontend-format, frontend-lint, frontend-tests

style(backend): apply code formatting to scripts
  backend/scripts/create_admin.py
  backend/scripts/grant_iam_permissions.py
Due: backend-isort, backend-black, backend-flake8

refactor(frontend): split useTodos hook into smaller, focused hooks (#64)
  backend/scripts/create_admin.py
  backend/scripts/grant_iam_permissions.py
  frontend/src/hooks/useTodoData.ts
  frontend/src/hooks/useTodoEditor.ts
  frontend/src/hooks/useTodoFilters.ts
  frontend/src/hooks/useTodoMutations.ts
  frontend/src/hooks/useTodos.ts
Due: frontend-format, frontend-lint, frontend-tests, backend-isort, backend-black, backend-flake8

refactor(frontend): create common PageHeader component to eliminate code duplication
  frontend/src/App.tsx
  frontend/src/components/PageHeader.test.tsx
  frontend/src/components/PageHeader.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/TodoListPage.tsx
  frontend/src/pages/admin/UserManagementPage.tsx
  frontend/src/styles/page-header.css
  frontend/src/styles/todo.css
Due: frontend-format, frontend-lint, frontend-tests

fix(frontend): re-export Todo types from todos API module
  frontend/src/lib/api/todos.ts
Due: frontend-format, frontend-lint, frontend-tests

style(frontend): apply prettier formatting
  frontend/src/components/PageHeader.tsx
  frontend/src/styles/todo.css
Due: frontend-format, frontend-lint, frontend-tests

Path conditions:
  frontend-format: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|md|html|ya?ml|cjs|mjs)$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-tests: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-isort: any of: ^backend/.*\.py$
  backend-black: any of: ^backend/.*\.py$
  backend-flake8: any of: ^backend/.*\.py$
